spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  datasource:
    hikari:
#      driver-class-name: com.mysql.cj.jdbc.Driver
#      jdbc-url: jdbc:mysql://220.117.171.126/dev_ecard?zuseUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
#      username: xehub
#      password: xef!@#123
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://localhost:3306/excelFile?zuseUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      username: root
      password: 1234
server:
  port: 8090

mybatis:
  mapper-locations: classpath:mapper/*.xml
  config-location: classpath:config/config.xml